.aboutblank{background-color:rgb(205, 141, 241);padding:10px;font-size: xx-large;justify-content: space-between;border-radius: 10px;display: flex;}
a{text-decoration: none;color:rgb(204, 45, 45)}
.mylistitems{list-style:none;font-style: italic;}
img{height: 200px;}

.top{text-align: center;margin-top: 20px;}
.topimg{ width: 150px;       
  height: 150px;      
  border-radius: 50%; 
  border: 3px solid #000;
  object-fit: cover;}
  .mine{width: 200px;       
  height: 150px;  }
  .end{box-shadow: 200px;text-align: center;border-color: black;border-top: 2px solid rgb(11, 17, 15);font-size: x-large;color: rgb(231, 105, 105);font-style: new roman;
}
